div {
    display: flex;
    flex: auto;
    height: 100%;
    justify-content: center;
    align-items: center;
}
#buttons {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
    margin: 10px;
    margin-bottom: 10px;
}

#buttonRock, #buttonPaper, #buttonScissors {
    width: 200px;
    height: 200px;
    margin: 30px;
    margin-bottom: 0px;
    padding: 10px;
    background-color: transparent;
    border: none;
}
button:hover {
    transform: scale(1.3);
    border-radius: 30px;
}

img {
    height: 100%;
    width: 100%;
}

#rps {
    height: 200px;
    width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
    text-decoration: dotted;
    text-shadow: violet;
    font-size: 100px;
    font-weight: bold;
    font-family:'Times New Roman', Times, serif;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    max-width: 900px;
    background-color: rgba(100, 89, 89, 0.2);
    border-radius: 5px;
}

#textBox {
    border: 2px solid gray;
    width: 700px;
    height: 80px;
    margin: auto;
    margin-top: 10px;
    background-color: rgba(100, 89, 89, 0.6);
    border-radius: 5px;
    font-size: 1.7rem;
    color:rgb(238, 238, 240);
}

body {
    background-image: url(images/back.jpeg);
    background-repeat:no-repeat;
}

#start {
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(225, 153, 52, 0.6);
}

#text, #computerText, #humanScore, #computerScore {
    margin: auto;
    width: 300px;
    text-align: center;
}

#restart {
    width: 200px;
    margin: auto;
    padding: 10px;
    display: flex;
    justify-content: center;
    background-color: rgba(100, 89, 89, 0.6);
    color: white;
}

/* #computerText {
    margin: auto;
    width: 300px;
    text-align: center;
}

#humanScore {
    margin: auto;
    width: 300px;
    text-align: center;
}

#computerScore {
    margin: auto;
    width: 300px;
    text-align: center;
} */